Repository cumstadistica/cumstadistica.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jpg-to-webp, check-date-match

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jpg-to-webp
        name: Convert JPG to WebP
        entry: scripts/jpg-to-webp.sh
        language: script
        # Only trigger on jpg/jpeg files
        files: \.(jpg|jpeg|JPG|JPEG)$
        # Pass the filenames to the script
        pass_filenames: true
      - id: check-date-match
        name: Sync Filename Date and Metadata
        entry: python3 scripts/check-dates.py
        language: python
        # Only run on markdown files
        files: \.md$
        pass_filenames: true

add pre-commit date validator
  content/es/elMundoXcumstat/2025-08-28-bavaria.md
  content/es/elfactodiario/2025-12-16-el-facto-diario-numero-149.md
  content/es/presiensammlung/2025-01-07-ruta-motorizada.md
  content/es/presiensammlung/2025-01-13-de-nada.md
  content/es/presiensammlung/2025-03-23-que-vuelva-la-mili.md
  content/es/presiensammlung/2025-04-29-la-familia-cumstadistica.md
  scripts/check-dates.py
  static/images/calamardo-mirando-a-bob-patricio.jpg
  static/images/cumstat-grupo-4.jpg
  static/images/duopingas-700.jpg
  static/images/el-contador.jpg
  static/images/estatua-viejo.jpeg
  static/images/fernando-autonso.jpg
  static/images/jorge-salvaje-coche.jpeg
  static/images/neuschwanstein.jpeg
  static/images/nintendo-psoe.jpg
  static/images/phantasialand-mex.jpg
  static/images/photo_2025-03-23_12-52-01.jpg
  static/images/photo_2025-12-19_11-05-15.jpg
  static/images/rickymartinperiodico.jpeg
  static/images/templo-debod.jpg
  static/images/wolverine-calvo.jpg
  static/images/zugspitze.jpg
Due: jpg-to-webp, check-date-match

Added GEMINI.md to gitignore
  .gitignore
Due: none

pre-commit link checks
  .pre-commit-config.yaml
Due: none

fix script error
  .github/scripts/tweet_rss.py
Due: none

Some link fixes
  .pre-commit-config.yaml
  content/es/_index.md
  content/es/acercade.md
  content/es/author/sesa.md
  content/es/author/sesa/_index.md
  content/es/author/u/_index.md
  content/es/cronicas/2025-08-28-bavaria.md
  content/es/meme/2025-12-13-calvocunao-es-heisenberg-flequillo.md
  content/es/reviews/2025-08-20-una-mente-maravillosa.md
  static/images/authors/sesa.webp
Due: check-date-match

Citas en json
  content/es/author/_index.md
  hugo.yaml
  layouts/author/term.citas.json
Due: check-date-match

fix facto
  content/es/elfactodiario/2025-10-10-el-origen-del-termino-tio-sam.md
Due: check-date-match

new view
  layouts/_default/single.html
  layouts/_default/summary-with-image.html
  layouts/partials/full-post.html
Due: none

improve authors
  content/es/author/_index.md
  content/es/author/assets/CUSA.webp
  content/es/author/assets/UGO.webp
  content/es/author/assets/jose.webp
  content/es/author/c/_index.md
  content/es/author/calvo/_index.md
  content/es/author/cumstadistica/_index.md
  content/es/author/el_loco_de_fortnite.md
  content/es/author/el_loco_de_fortnite/_index.md
  content/es/author/enjuto_mojamuto.md
  content/es/author/enjuto_mojamuto/_index.md
  content/es/author/gurb.md
  content/es/author/gurb/_index.md
  content/es/author/j/_index.md
  content/es/author/sesa/_index.md
  content/es/author/u/_index.md
  layouts/shortcodes/quote.html
  static/images/authors/el_loco_de_fortnite.webp
  static/images/authors/enjuto_mojamuto.webp
  static/images/authors/gurb.webp
Due: check-date-match

Add date and media to quotes
  content/es/elfactodiario/2025-11-12-facto-diario-numero-146-canon-in-d.md
  content/es/meme/2025-08-01-calvo-jaula.md
  content/es/presiensammlung/2024-03-20-historias-del-loco.md
  content/es/presiensammlung/2025-01-13-de-nada.md
  content/es/presiensammlung/2025-04-29-la-familia-cumstadistica.md
  content/es/reviews/2025-09-20-quimeras-de-un-crimen.md
  layouts/author/term.citas.json
  layouts/shortcodes/quote.html
Due: check-date-match

cita calvo
  content/es/elfactodiario/2025-10-03-calzadas-romanas.md
Due: check-date-match

Add .geminiignore
  .gitignore
Due: none

Add png to precommit
  .pre-commit-config.yaml
  scripts/image-to-webp.sh
Due: none

Autofirma
  content/es/meme/2026-01-30-autofirma.md
  static/images/meme/fuego-estudiante-profesor.webp
Due: check-date-match

Review El Quijote
  content/es/reviews/2025-11-25-el-quijote.md
  static/images/reviews/lobo-quijote.webp
Due: check-date-match

Facto 150
  content/es/elfactodiario/2025-12-17-castores.md
  static/images/elfactodiario/castores.webp
Due: check-date-match

El Proceso
  content/es/reviews/2025-12-30-el-proceso.md
  static/images/reviews/sera-cuestion-de-tiempo.webp
Due: check-date-match

Review Prof Layton
  content/es/reviews/2026-01-05-profesor-layton-mascara-prodigios.md
  static/images/reviews/layton-fin-del-mundo.webp
  static/images/reviews/layton-miracle-mask.webp
  static/images/reviews/layton-vaca-muerta.webp
Due: check-date-match

Minions
  content/es/meme/2026-02-02-minions.md
  static/images/meme/minions-1984.gif
Due: check-date-match

Déjame Salir
  content/es/reviews/2026-01-10-get-out.md
  static/images/reviews/get-out-jaca.webp
  static/images/reviews/get-out-peele-poop.webp
  static/images/reviews/get-out.webp
Due: check-date-match

Somos Charlie Kirk
  content/es/meme/2026-01-15-somos-charlie-kirk.md
  content/es/reviews/2026-01-10-get-out.md
Due: check-date-match

Fix some json errors
  content/es/author/_index.md
  hugo.yaml
  layouts/_default/index.json
  layouts/_default/summary-with-image.html
  static/search.json
Due: check-date-match

Fix hyperlink twitter
  .github/scripts/tweet_rss.py
Due: none

Fix bayern videos
  content/es/cronicas/2025-08-28-bavaria.md
Due: check-date-match

same
  content/es/cronicas/2025-08-28-bavaria.md
Due: check-date-match

Create new post: j-en-la-ciudad-de-la-pepa
  content/posts/2025-07-21 00:00:00-j-en-la-ciudad-de-la-pepa.md
Due: check-date-match

Create new post: j-de-vacaciones-al-lado-de-rio-tinto
  content/posts/2025-09-14 00:00:00-j-de-vacaciones-al-lado-de-rio-tinto.md
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-1.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-10.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-11.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-12.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-13.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-2.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-3.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-4.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-5.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-6.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-7.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-8.webp
  static/images/j-de-vacaciones-al-lado-de-rio-tinto-9.webp
Due: check-date-match

move posts
  content/es/cronicas/2024-08-06 00:00:00-j-en-jovenlandia.md
  content/es/cronicas/2025-07-21 00:00:00-j-en-la-ciudad-de-la-pepa.md
  content/es/cronicas/2025-09-14 00:00:00-j-de-vacaciones-al-lado-de-rio-tinto.md
Due: check-date-match

Create new post: italia-con-c
  content/posts/2023-09-06 00:00:00-italia-con-c.md
  static/images/italia-con-c-1.webp
  static/images/italia-con-c-10.webp
  static/images/italia-con-c-11.webp
  static/images/italia-con-c-12.webp
  static/images/italia-con-c-13.webp
  static/images/italia-con-c-14.webp
  static/images/italia-con-c-15.webp
  static/images/italia-con-c-16.webp
  static/images/italia-con-c-17.webp
  static/images/italia-con-c-18.webp
  static/images/italia-con-c-2.webp
  static/images/italia-con-c-3.webp
  static/images/italia-con-c-4.webp
  static/images/italia-con-c-5.webp
  static/images/italia-con-c-6.webp
  static/images/italia-con-c-7.webp
  static/images/italia-con-c-8.webp
  static/images/italia-con-c-9.webp
Due: check-date-match

Create new post: j-en-extrema-y-dura
  content/posts/2024-07-06 00:00:00-j-en-extrema-y-dura.md
  static/images/j-en-extrema-y-dura-1.webp
  static/images/j-en-extrema-y-dura-2.webp
  static/images/j-en-extrema-y-dura-3.webp
  static/images/j-en-extrema-y-dura-4.webp
  static/images/j-en-extrema-y-dura-5.webp
  static/images/j-en-extrema-y-dura-6.webp
  static/images/j-en-extrema-y-dura-7.webp
  static/images/j-en-extrema-y-dura-8.webp
  static/images/j-en-extrema-y-dura-9.webp
Due: check-date-match

Create new post: ste-c-ura-no-es-mi-padre-skite-de-san-espiridion
  content/posts/2024-08-05 00:00:00-ste-c-ura-no-es-mi-padre-skite-de-san-espiridion.md
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-1.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-2.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-3.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-4.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-5.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-6.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-7.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-8.webp
  static/images/ste-c-ura-no-es-mi-padre-skite-de-san-espiridion-9.webp
Due: check-date-match

Create new post: u-en-la-ciudad-del-monopoly
  content/posts/2024-09-21 00:00:00-u-en-la-ciudad-del-monopoly.md
  static/images/u-en-la-ciudad-del-monopoly-1.webp
  static/images/u-en-la-ciudad-del-monopoly-2.webp
  static/images/u-en-la-ciudad-del-monopoly-3.webp
  static/images/u-en-la-ciudad-del-monopoly-4.webp
  static/images/u-en-la-ciudad-del-monopoly-5.webp
  static/images/u-en-la-ciudad-del-monopoly-6.webp
  static/images/u-en-la-ciudad-del-monopoly-7.webp
Due: check-date-match

Create new post: j-en-boqueron-city
  content/posts/2025-04-03 00:00:00-j-en-boqueron-city.md
  static/images/j-en-boqueron-city-1.webp
  static/images/j-en-boqueron-city-2.webp
  static/images/j-en-boqueron-city-3.webp
  static/images/j-en-boqueron-city-4.webp
Due: check-date-match
