Repository cumstadistica/cumstadistica.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jpg-to-webp, check-date-match, update-image-ext

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jpg-to-webp
        name: Convert JPG to WebP
        entry: scripts/image-to-webp.sh
        language: script
        # Only trigger on jpg/jpeg files
        files: \.(png|jpg|jpeg|JPG|JPEG)$
        # Pass the filenames to the script
        pass_filenames: true
      - id: check-date-match
        name: Sync Filename Date and Metadata
        entry: python3 scripts/check-dates.py
        language: python
        # Only run on markdown files
        files: \.md$
        pass_filenames: true
      - id: update-image-ext
        name: Update Markdown JPG refs to WebP
        entry: python3 scripts/extensions-jpg-to-webp.py
        language: python
        files: ^content/.*\.md$
        pass_filenames: true

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1
    hooks:
      - id: lychee
        name: Check links with Lychee
        args:
          - --offline
          - --no-progress
          - --include-fragments
          - --root-dir=.
          - --fallback-extensions=md,html,_index.md
          - "--remap=/assets/(.*) /static/assets/$1"
          - "--remap=/images/(.*) /static/images/$1"
          - "--remap=/videos/(.*) /static/videos/$1"
          - "--remap=/audios/(.*) /static/audios/$1"
          - "content/"
        files: ^content/.*\.(md|html)$

fix sitemap
  .github/workflows/hugo.yaml
Due: none

improve site
  assets/ananke/css/custom.css
  hugo.yaml
  layouts/index.html
  layouts/partials/head-additions.html
Due: none

other improvements (for better google performance)
  layouts/_partials/site-style.html
Due: none

css on icon bar
  assets/ananke/css/custom.css
  layouts/_partials/site-style.html
Due: none

Implement taskfile
  .github/workflows/hugo.yaml
  README.md
  content/categories/elMundoXcumstat/_index.md
  requirements.txt
  scripts/new-content.py
  taskfile.yaml
Due: check-date-match, update-image-ext

fp de jardineria
  .pre-commit-config.yaml
  content/meme/2026-06-21-fp-jardineria.md
  static/meme/fp-jardineria.webp
Due: check-date-match, update-image-ext

updating task check
  .gitignore
  README.md
  content/cronicas/2026-04-20-c-en-la-ciudad-del-pecado.md
  content/elfactodiario/2025-07-22-facto-diario-numero-70.md
  content/elfactodiario/2026-02-25-chumina.md
  content/presiensammlung/2026-01-15-cusa-ardido.md
  content/reviews/2025-08-20-una-mente-maravillosa.md
  content/reviews/2025-09-30-el-caballero-oscuro.md
  hugo.yaml
  layouts/_default/stats.html
  layouts/partials/full-post.html
  lychee.toml
  scripts/check_links.py
  taskfile.yaml
Due: check-date-match, update-image-ext

improving taskfile
  .github/workflows/hugo.yaml
  README.md
  taskfile.yaml
Due: check-date-match

update pagefind + actions
  .github/workflows/hugo.yaml
  layouts/index.html
  layouts/tags/terms.html
Due: none

fix fp-jardineria
  content/meme/2026-06-21-fp-jardineria.md
Due: check-date-match, update-image-ext

fix rss + fix links
  content/reviews/2025-08-20-una-mente-maravillosa.md
  content/reviews/2025-09-10-phantasialand.md
  content/reviews/2025-10-15-una-mente-maravillosa.md
  hugo.yaml
  layouts/_default/rss.xml
  scripts/check_links.py
Due: check-date-match, update-image-ext

fix full post
  layouts/partials/full-post.html
Due: none

improve twitter
  .github/scripts/tweet_rss.py
  .github/workflows/hugo.yaml
  taskfile.yaml
Due: none

taxonomy
  layouts/partials/head-additions.html
Due: none

Enciclica Review
  content/reviews/2026-05-25-magnifica-humanitas.md
  scripts/auto-add-tags.py
  scripts/validate-frontmatter.py
  static/reviews/magnifica-humanitas-bellido.webp
  taskfile.yaml
Due: check-date-match, update-image-ext

fix
  content/reviews/2026-05-25-magnifica-humanitas.md
Due: check-date-match, update-image-ext

tags & author: bullet lists
  scripts/auto-add-tags.py
  scripts/validate-frontmatter.py
Due: none

more tags
  content/author/enjuto_mojamuto/_index.md
  content/tags/bolo/_index.md
  content/tags/maestro/_index.md
  content/tags/nerdi/_index.md
  content/tags/papote/_index.md
  content/tags/reventado/_index.md
Due: check-date-match, update-image-ext

lugares tags
  content/tags/andujar/_index.md
  content/tags/belmez/_index.md
  content/tags/cordoba/_index.md
  content/tags/duisburg/_index.md
  content/tags/lacarlota/_index.md
  content/tags/mercadona-2-puertas/_index.md
Due: check-date-match, update-image-ext

precommit hook
  .githooks/pre-commit
Due: none

radio andujar
  content/tags/andujar/_index.md
  content/tags/andujar/radio-andujar.webp
Due: check-date-match, update-image-ext

memes
  content/cronicas/2023-09-06-italia-con-c.md
  content/elfactodiario/2025-06-17-facto-diario-numero-35.md
  content/elfactodiario/2025-06-19-facto-diario-numero-37.md
  content/elfactodiario/2025-07-19-facto-diario-numero-67.md
  content/meme/2026-06-29-cuarta-perra.md
  content/meme/2026-06-29-fonseca-galeria.md
  static/meme/cuarta-perra.webp
  static/meme/fonseca-galeria.webp
Due: check-date-match, update-image-ext

dia revelacion
  content/reviews/2026-07-01-dia-revelacion.md
  static/reviews/dia-revelacion-aliens.webp
  static/reviews/dia-revelacion.webp
Due: check-date-match, update-image-ext

bebe chino cusalin
  content/meme/2026-07-04-bebe-cusalin.md
  static/meme/bebe-cusalin.webp
Due: check-date-match, update-image-ext

move to ps
  content/presiensammlung/2026-07-04-bebe-cusalin.md
Due: check-date-match, update-image-ext

obsession
  content/reviews/2026-07-04-obsession.md
  static/reviews/obsession-biche.webp
Due: check-date-match, update-image-ext

add note
  content/reviews/2026-07-04-obsession.md
Due: check-date-match, update-image-ext

new quoting system
  assets/ananke/css/custom.css
  content/_index.md
  content/cronicas/2026-06-07-u-en-gladbach.md
  content/presiensammlung/2024-03-20-historias-del-loco.md
  content/presiensammlung/2025-01-13-de-nada.md
  content/reviews/2025-09-20-quimeras-de-un-crimen.md
  content/reviews/2026-05-25-magnifica-humanitas.md
  content/sitcom/2026-01-11-la-revelacion.md
  layouts/_markup/render-blockquote.html
  layouts/author/term.citas.json
  layouts/shortcodes/conversation.html
  layouts/shortcodes/quote.html
Due: check-date-match, update-image-ext

pagina de citas
  assets/ananke/css/custom.css
  content/citas.md
  content/cronicas/2026-06-07-u-en-gladbach.md
  layouts/_default/citas.html
  layouts/author/term.citas.json
Due: check-date-match, update-image-ext

dfdg
  content/elfactodiario/2025-11-12-facto-diario-numero-146-canon-in-d.md
Due: check-date-match, update-image-ext

cronic bavaria
  content/cronicas/2025-08-28-bavaria.md
Due: check-date-match, update-image-ext

add stickers
  content/tags/bebe/_index.md
  content/tags/bebe/bebechonguo.webp
  content/tags/bebe/ratilla.webp
  content/tags/mono/_index.md
  content/tags/mono/mono.webp
Due: check-date-match, update-image-ext

muchos articulos
  content/elfactodiario/2026-03-28-galletas-maria.md
  content/elfactodiario/2026-04-28-jordienp.md
  content/elfactodiario/2026-05-28-barbie-aquagirl.md
  content/elfactodiario/2026-07-28-lee-van-cliff.md
  content/reviews/2026-07-10-el-asombroso-circo-digital.md
  content/reviews/2026-07-20-exit-8.md
  content/reviews/2026-07-28-review-a-la-filosofia.md
  content/tags/lacarlota/_index.md
  content/tags/lacarlota/malvinas-carlotenas.webp
  static/meme/cusa-fernan-venezuela.webp
  static/meme/e.webp
  static/meme/jota-iceage.webp
  static/meme/jota-pitbull.webp
  static/reviews/exit8-biche.webp
Due: check-date-match, update-image-ext

fix reviews
  content/reviews/2026-05-25-magnifica-humanitas.md
  content/reviews/2026-07-20-exit-8.md
Due: check-date-match, update-image-ext
