Repository cumstadistica/cumstadistica.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jpg-to-webp, check-date-match, update-image-ext

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jpg-to-webp
        name: Convert JPG to WebP
        entry: scripts/image-to-webp.sh
        language: script
        # Only trigger on jpg/jpeg files
        files: \.(png|jpg|jpeg|JPG|JPEG)$
        # Pass the filenames to the script
        pass_filenames: true
      - id: check-date-match
        name: Sync Filename Date and Metadata
        entry: python3 scripts/check-dates.py
        language: python
        # Only run on markdown files
        files: \.md$
        pass_filenames: true
      - id: update-image-ext
        name: Update Markdown JPG refs to WebP
        entry: python3 scripts/extensions-jpg-to-webp.py
        language: python
        files: ^content/.*\.md$
        pass_filenames: true

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1
    hooks:
      - id: lychee
        name: Check links with Lychee
        args:
          - --offline
          - --no-progress
          - --include-fragments
          - --root-dir=.
          - --fallback-extensions=md,html,_index.md
          - "--remap=/assets/(.*) /static/assets/$1"
          - "--remap=/images/(.*) /static/images/$1"
          - "--remap=/videos/(.*) /static/videos/$1"
          - "--remap=/audios/(.*) /static/audios/$1"
          - "content/"
        files: ^content/.*\.(md|html)$

Create new post: j-en-cerro-muriano
  content/posts/2025-03-30 00:00:00-j-en-cerro-muriano.md
  static/images/j-en-cerro-muriano-1.webp
  static/images/j-en-cerro-muriano-2.webp
  static/images/j-en-cerro-muriano-3.webp
  static/images/j-en-cerro-muriano-4.webp
Due: check-date-match, update-image-ext

Create new post: j-en-reunion-del-creic-en-belmez
  content/posts/2025-04-06 00:00:00-j-en-reunion-del-creic-en-belmez.md
  static/images/j-en-reunion-del-creic-en-belmez-1.webp
  static/images/j-en-reunion-del-creic-en-belmez-2.webp
  static/images/j-en-reunion-del-creic-en-belmez-3.webp
  static/images/j-en-reunion-del-creic-en-belmez-4.webp
  static/images/j-en-reunion-del-creic-en-belmez-5.webp
Due: check-date-match, update-image-ext

Create new post: j-en-la-region-que-no-existe
  content/posts/2025-04-25 00:00:00-j-en-la-region-que-no-existe.md
  static/images/j-en-la-region-que-no-existe-1.webp
  static/images/j-en-la-region-que-no-existe-10.webp
  static/images/j-en-la-region-que-no-existe-11.webp
  static/images/j-en-la-region-que-no-existe-2.webp
  static/images/j-en-la-region-que-no-existe-3.webp
  static/images/j-en-la-region-que-no-existe-4.webp
  static/images/j-en-la-region-que-no-existe-5.webp
  static/images/j-en-la-region-que-no-existe-6.webp
  static/images/j-en-la-region-que-no-existe-7.webp
  static/images/j-en-la-region-que-no-existe-8.webp
  static/images/j-en-la-region-que-no-existe-9.webp
  static/videos/j-en-la-region-que-no-existe-12.mp4
Due: check-date-match, update-image-ext

Create new post: los-cumstadisticos-por-el-pueblo-de-lot
  content/posts/2025-06-09 00:00:00-los-cumstadisticos-por-el-pueblo-de-lot.md
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-1.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-10.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-2.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-3.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-4.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-5.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-6.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-7.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-8.webp
  static/images/los-cumstadisticos-por-el-pueblo-de-lot-9.webp
Due: check-date-match, update-image-ext

Karenina
  content/es/cronicas/2025-08-25-j-se-independiza.md
  content/es/cronicas/_index.md
  content/es/reviews/2026-01-15-anna-karenina.md
  static/images/cronicas/2025-08-25-j-se-independiza/j-se-independiza-20.webp
  static/images/cronicas/2025-08-25-j-se-independiza/j-se-independiza-21.webp
  static/images/reviews/karenina.webp
Due: check-date-match, update-image-ext

La Montiela
  content/es/reviews/2026-01-20-la-montiela.md
  static/images/reviews/lamontiela.webp
Due: check-date-match, update-image-ext

Factos
  content/es/elfactodiario/2025-09-23-ricky-martin-mermelada-efecto-mandela.md
  content/es/elfactodiario/2025-09-24-roro-efecto-mandela.md
  content/es/elfactodiario/2025-09-28-maquiavello.md
  content/es/elfactodiario/2026-01-03-google.md
  content/es/elfactodiario/2026-01-04-silencio-mandela.md
Due: check-date-match, update-image-ext

Facto Danny DeVito
  content/es/elfactodiario/2025-08-18-facto-diario-numero-98.md
  content/es/elfactodiario/2026-01-05-facto-diario-numero-152.md
  content/es/tags/phil-collins/_index.md
Due: check-date-match, update-image-ext

Add Facto diario número 153 (Breaking Bad) by j
  content/es/elfactodiario/2026-02-20-facto-diario-numero-153-bryan-cranston-breaking-bad.md
Due: check-date-match, update-image-ext

Add review Diamantes en bruto (2019) by u
  content/es/reviews/2026-02-20-diamantes-en-bruto.md
Due: check-date-match, update-image-ext

Define identity persona for Chat
  IDENTITY.md
Due: check-date-match

Refine identity voice line wording
  IDENTITY.md
Due: check-date-match

Update USER profile details and remove BOOTSTRAP
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  SOUL.md
  TOOLS.md
  USER.md
  memory/2026-02-20.md
Due: check-date-match

Fill remaining USER profile fields and context
  USER.md
Due: check-date-match

Configure automatic memory heartbeat and state tracking
  HEARTBEAT.md
  memory/heartbeat-state.json
Due: check-date-match

Add curated MEMORY and align user style preferences
  MEMORY.md
  USER.md
Due: check-date-match

Add Facto diario número 154 (Franz Stigler) by j
  content/es/elfactodiario/2026-02-21-facto-diario-numero-154-franz-stigler.md
Due: check-date-match, update-image-ext

Add review V de Vendetta by j
  content/es/reviews/2026-02-22-v-de-vendetta.md
Due: check-date-match, update-image-ext

Restructure MEMORY.md as operational mini-doc
  MEMORY.md
Due: check-date-match

Review de U: Cien Años de Soledad
  content/es/reviews/cien_anos_de_soledad_review_u.md
Due: check-date-match, update-image-ext

Ajuste de autor para vincular foto de perfil
  content/es/reviews/cien_anos_de_soledad_review_u.md
Due: check-date-match, update-image-ext

Muchos cambios
  content/es/author/chat/_index.md
  content/es/elfactodiario/2025-08-20-facto-diario-numero-100.md
  content/es/sitcom/2026-01-11-la-revelacion-2.md
  content/es/sitcom/2026-01-11-la-revelacion.md
  static/images/a-vale.webp
  static/images/authors/chat.webp
  static/images/cronicas/2026-03-21-el-viaje-de-chulin/2026-03-21-el-viaje-de-chulin.md
Due: check-date-match, update-image-ext

el viaje de chulin
  content/es/cronicas/2026-03-21-el-viaje-de-chulin.md
  content/es/reviews/2026-02-28-cien_anos_de_soledad.md
  content/es/reviews/2026-03-05-pascual-duarte.md
  content/es/reviews/2026-03-15-torrente-presidente.md
  content/es/sitcom/2026-01-11-la-revelacion.md
  static/images/cronicas/2026-03-21-el-viaje-de-chulin/casa-chulin.webp
  static/images/cronicas/2026-03-21-el-viaje-de-chulin/hotpot.webp
  static/images/cronicas/2026-03-21-el-viaje-de-chulin/red-velvet.webp
  static/images/cronicas/2026-03-21-el-viaje-de-chulin/trayecto.webp
  static/images/reviews/100-anos-soledad.webp
  static/images/reviews/torrente-presidente.webp
Due: check-date-match, update-image-ext

Mas datos de chulin
  content/es/cronicas/2026-03-21-el-viaje-de-chulin.md
Due: check-date-match, update-image-ext

cambios
  content/es/cronicas/2026-03-21-el-viaje-de-chulin.md
Due: check-date-match, update-image-ext

Memes
  content/es/meme/2025-10-20-la-verdadera-cumstadistica.md
  content/es/meme/2026-02-20-adn.md
  static/images/meme/adn-gitano.webp
  static/images/meme/cumstat-minions.webp
Due: check-date-match, update-image-ext

remove agent stuff
  .gitignore
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  MEMORY.md
  SOUL.md
  TOOLS.md
  USER.md
  content/es/contacto.md
Due: check-date-match, update-image-ext

Some fixes
  content/es/unlisted/_index.md
  content/es/unlisted/test.md
  layouts/_default/list.html
  layouts/_default/rss.xml
  layouts/baseof.html
Due: check-date-match, update-image-ext

validation
  .pre-commit-config.yaml
  archetypes/posts.md
  archetypes/sidebar/_index.md
  archetypes/sidebar/basic_info.md
  archetypes/sidebar/bio.md
  archetypes/welcome-header/_index.md
  content/es/acercade.md
  content/es/archivo/recopilacion-fotos-grupo-cumstat.md
  content/es/archivo/recopilacion-gifs-cumstat.md
  content/es/author/dilan/_index.md
  content/es/contacto.md
  content/es/cronicas/2025-08-28-bavaria.md
  content/es/sitcom/2025-03-10-sitcom-episodio-piloto.md
  content/es/sitcom/2026-01-11-la-revelacion-2.md
  content/es/sitcom/2026-01-11-la-revelacion.md
  scripts/validate-frontmatter.py
Due: check-date-match, update-image-ext

fix image path minions meme
  content/es/meme/2025-10-20-la-verdadera-cumstadistica.md
Due: check-date-match, update-image-ext

show multiauthor
  layouts/partials/full-post.html
  layouts/partials/sidebar.html
Due: none

autotagging
  .pre-commit-config.yaml
  content/es/cronicas/2025-08-28-bavaria.md
  content/es/cronicas/2025-10-13-J en nueva jovenlandia.md
  content/es/elfactodiario/2025-08-04-facto-diario-numero-84.md
  content/es/elfactodiario/2026-01-05-facto-diario-numero-152.md
  content/es/meme/2025-05-21-la-vida-de-j.md
  content/es/presiensammlung/2025-03-23-que-vuelva-la-mili.md
  content/es/reviews/2025-06-10-la-vita-e-bella.md
  content/es/reviews/2025-06-20-kingsman.md
  content/es/reviews/2025-06-25-cadena-perpetua.md
  content/es/reviews/2025-07-05-dead-poets-society.md
  content/es/reviews/2025-07-10-billy-elliot.md
  content/es/reviews/2025-07-15-torrente-1.md
  content/es/reviews/2025-07-20-adolescence.md
  content/es/reviews/2025-07-25-la-teoria-del-todo.md
  content/es/reviews/2025-08-10-interstellar.md
  content/es/reviews/2025-08-15-el-irlandes.md
  content/es/reviews/2025-08-25-el-curioso-caso-de-benjamin-button.md
  content/es/reviews/2025-09-10-phantasialand.md
  content/es/reviews/2025-11-10-beerfest.md
  content/es/reviews/2026-01-20-la-montiela.md
  content/es/reviews/2026-02-28-cien_anos_de_soledad.md
  content/es/reviews/2026-03-15-torrente-presidente.md
  scripts/auto-add-tags.py
  scripts/validate-frontmatter.py
Due: check-date-match, update-image-ext

tag page
  content/es/acercade.md
  content/es/tags/_index.md
  layouts/tags/terms.html
Due: check-date-match, update-image-ext

remove some tags
  content/es/acercade.md
  content/es/archivo/estructura-asamblea-cumstadistica.md
  content/es/elfactodiario/2025-12-14-facto-diario-numero-148-de-verdad-hacienda-se-lleva-20-napos.md
  content/es/meme/2025-12-13-calvocunao-es-heisenberg-flequillo.md
  content/es/reviews/2025-04-10-el-arbol-de-la-ciencia.md
  content/es/reviews/2026-02-28-cien_anos_de_soledad.md
Due: check-date-match, update-image-ext

remove unused tasks
  content/es/cronicas/2023-09-06-italia-con-c.md
  content/es/cronicas/2025-07-21-j-en-la-ciudad-de-la-pepa.md
  content/es/cronicas/2025-08-25-j-se-independiza.md
  content/es/cronicas/2025-09-14-j-de-vacaciones-al-lado-de-rio-tinto.md
  content/es/meme/2025-12-01-ay-juancar.md
  content/es/meme/2026-01-30-autofirma.md
  content/es/presiensammlung/2025-10-03-krefeld-kikos-autismo.md
Due: check-date-match, update-image-ext

more tag changes
  content/es/cronicas/2024-08-06-j-en-jovenlandia.md
  content/es/cronicas/2025-05-08-este-c-ura-no-es-mi-padre-skite-de-san-espiridion.md
  content/es/cronicas/2025-08-28-bavaria.md
  content/es/elfactodiario/2025-07-22-facto-diario-numero-70.md
  content/es/tags/phil-collins/_index.md
Due: check-date-match, update-image-ext

small changes
  content/es/_index.md
  content/es/acercade.md
  content/es/tags/_index.md
Due: check-date-match, update-image-ext
